* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    color: white;
    background: url('ux.jpg');
    background-size: cover;
}

header > div {
    padding: 5rem;
    background: #00aa;
}

header h1 {
    max-width: 600px;
}

header .box {
    margin-top: 24px;
    display: flex;
}

header input {
    width: 40%;
    font-size: 24px;
}

header button {
    color: blue;
    background-color: yellow;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 2rem;
}

.flex {
    display: flex;
}

section {
    padding: 128px;
}

section h2 {
    width: 200px;
    margin-bottom: 24px;
}

.encontre {
    width: 30%;
}

.items {
    width: 100%;
    margin: 16px;
}

.items > * {
    width: 100%;
    margin: 16px;
    box-shadow: 2px 8px 16px #0005;
    border-radius: 8px;
}

.items img {
    width: 100%;
    border-radius: 8px;
}

.items > div > div {
    padding: 16px;
}

.weak {
    color: gray;
}